---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import classnames from "classnames";
import aboutMeImage from "./about-me.jpg";

import MainLayout from "@/layouts/MainLayout.astro";

import BandLink from "@/components/BandLink.astro";
import ExternalLink from "@/components/ExternalLink.astro";
import Heading from "@/components/Heading/Heading";
import NavigationHeaderLink from "@/components/NavigationHeaderLink.astro";
import Paragraph from "@/components/UI/Paragraph.astro";

import styles from "./about.module.scss";

const projects: CollectionEntry<"projects">[] = await getCollection("projects");

const crossing32st = projects.find(
  (project) => project.data.title === "Crossing 32nd Street",
);
const gypsySwingRevue = projects.find(
  (project) => project.data.title === "Gypsy Swing Revue",
);
const puppiesWithGuns = projects.find(
  (project) => project.data.title === "Puppies With Guns",
);
---

<MainLayout title="About Me">
  <div
    class={classnames(styles.introductionContainer, "layout-grid__full-width")}
  >
    <div class={classnames(styles.introduction, "layout-grid__centered")}>
      <Image
        class={styles.introduction__image}
        src={aboutMeImage}
        alt="Elliot Reed onstage playing a gypsy guitar"
        layout="none"
        loading="eager"
      />
      <Paragraph>
        I am a <strong>composer</strong>, <strong>arranger</strong>, <strong
          >teacher</strong
        >, <strong>guitarist</strong>, and <strong>vocalist</strong>.
      </Paragraph>
    </div>
  </div>
  <div class="layout-grid__centered">
    <Heading level={1}>Music and Me</Heading>

    <Paragraph>
      I studied music at Casper College and the University of New Mexico.
    </Paragraph>

    <Paragraph>
      My musical focus is anything that swings! (gypsy jazz, jazz, western
      swing).I also perform in the rock, pop, reggae, and country styles.
    </Paragraph>

    <Paragraph>
      My primary project is <ExternalLink
        to="https://www.gypsyswingrevue.com"
        target="_self"
      >
        Gypsy Swing Revue
      </ExternalLink>, a gypsy jazz band in the style of the Hot Club of France.
    </Paragraph>

    <Heading level={2}>History</Heading>

    <NavigationHeaderLink to="/projects">Projects</NavigationHeaderLink>

    <Paragraph>
      After living in Albuquerque, New Mexico, I decided to move to Denver to
      start an authentic gypsy jazz group:
      <BandLink to={gypsySwingRevue.slug} title={gypsySwingRevue.data.title}>
        <Image
          slot="image"
          layout="responsive"
          class="project-image"
          src={gypsySwingRevue.data.cover}
          alt="Gypsy Swing Revue"
        />
      </BandLink>
    </Paragraph>

    <Paragraph
      >I've also been doing shows with my brother in Phoenix, Arizona in the
      faculty group
      <BandLink to={crossing32st.slug} title={crossing32st.data.title}>
        <Image
          slot="image"
          layout="responsive"
          class="project-image"
          src={crossing32st.data.cover}
          alt="Crossing 32nd Street"
        />
      </BandLink>
    </Paragraph>

    <Paragraph>
      From Casper, Wyoming, I moved to Albuquerque, New Mexico and started
      <BandLink to={puppiesWithGuns.slug} title={puppiesWithGuns.data.title}>
        <Image
          slot="image"
          class="project-image"
          src={puppiesWithGuns.data.cover}
          alt="Puppies With Guns"
        />
      </BandLink>
    </Paragraph>
  </div>
</MainLayout>

<style lang="scss">
  @use "@/styles/abstracts" as *;

  .project-image {
    display: block;
    max-width: 100%;
    border-radius: $border-radius;
    width: 10em;
    aspect-ratio: 16 /9;
    object-fit: cover;
    object-position: center;
  }
</style>
