---
import DesignNavbar from "@/components/Navbar_Design.astro";
import SiteHeader from "@/components/SiteHeader.astro";
import SiteFooter from "@/components/SiteFooter.astro";

import BaseLayout from "./BaseLayout.astro";

import styles from "./layout.module.scss";
const { title, description } = Astro.props;
let type = "developer";
---

<BaseLayout title={title} description={description}>
  <div class={styles.container}>
    <SiteHeader type={type}>
      <DesignNavbar />
    </SiteHeader>
    <div class={styles.content}>
      <slot />
    </div>
    <SiteFooter type={type} />
  </div>
</BaseLayout>
